.App {
  text-align: center;
}

:root {
  --main-bg-color: rgb(51,53,51);
  --font-style:garamond,serif;
  --font-color: white;
  --align-center: center;
  --greentheme: rgb(29, 93, 38)
}
body {
  background-color: var(--main-bg-color);
  font-family: var(--font-style);
  color:var(--font-color);
  max-width: 900px;
  margin: auto;
  
}
.main_header{
    display: flex;
    justify-content: space-evenly;
    text-align: var(--align-center);
    font-size:x-large ;
    background-color: rgb(29, 93, 38);
    font-weight:bold;
    padding: 3%;
    color: black;
    
}
#chapter_header{
    text-align: var(--align-center);
  

}
#chapter_text{
    text-align: justify;
    padding: 5px 20px 5px 20px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.hide{
  display: none;
}
#hero-image{
    max-width: 40%;
    height: auto;
    margin: 3% 5% 3% 5%;
 
}

#hero-description{
    
    margin: 3% 5% 3% 5%;

}
.show-input-window{
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 6% 5% 6% 10%;
  background-color: rgb(29, 93, 38);
}
.image-card{
  max-width: 270px;
  height: 207.54px;
  margin: 3% 2% 3% 2%;
}